<mat-card class="form-card">
  <mat-card-title>Formulário de Cadastro</mat-card-title>
  <mat-card-content>
    <form  #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" class="formulario">

        <label for="nome">Nome:</label>
        <input id="nome" name="nome" [(ngModel)]="pessoa.nome" placeholder="Nome" required>

        <label for="email">Email:</label>
        <input id="email" name="email" [(ngModel)]="pessoa.email" placeholder="Email" required email>

        <label for="cpf">CPF:</label>
        <input id="cpf" name="cpf" [(ngModel)]="pessoa.cpf" required>

      <label for="telefone">Telefone:</label>
      <input id="telefone" name="telefone" [(ngModel)]="pessoa.telefone" required>

      <button type="submit">Enviar</button>
    </form>
  </mat-card-content>
</mat-card>

